// Buttons
// Links
a {
  font-family: $ff-link;
  font-size: $fs-link;
  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;

  &:visited {
    color: $clr-blue;
  }

  &:hover {
    color: $clr-scarlet;
  }
}

// Headings
.heading {
  position: relative;
  font-family: $ff-heading;
  font-size: $fs-heading;
  color: $clr-dark;
  line-height: 130%;
  letter-spacing: 0.006em;
}

.subheading {
  font-family: $ff-heading;
  font-size: $fs-subheading;
  font-weight: $fw-bold;
  color: $clr-dark;
  word-spacing: 0.25em;
}

// About me block
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12.5%;
  white-space: nowrap;

  &__link {
    display: inline-block;
    width: max-content;
  }
}

// Typing area
.typing-panel {
  width: 700px;
  height: 200px;
  padding: 0.5em;
  font-size: 2.5rem;
  line-height: 130%;
  border-radius: 5px;
  hyphens: auto;
  word-break: break-word;
  resize: none;
}

// Keyboard
.keyboard {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding: 10px;
  background-color: $clr-dark;
  border: none;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  user-select: none;

  &__row {
    display: flex;
    column-gap: 6px;
    width: 100%;
  }
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: $fs-key;
  background-color: $clr-light-xl;
  border: 2px solid $clr-light-dim;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 0 $clr-light-dim;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.2s;

  &--medium {
    width: 47px;
  }

  &--extra-medium {
    width: 86px;
  }

  &--wide {
    width: 100px;
  }

  &--extra-wide {
    width: 309.5px;
  }

  &--grey {
    background-color: $clr-grey;
    border-color: $clr-grey-dim;
    box-shadow: 0.5px 0.5px 0 $clr-grey-dim;
  }

  &--blue {
    background-color: $clr-blue;
    border-color: $clr-blue-dim;
    box-shadow: 0.5px 0.5px 0 $clr-blue-dim;
  }

  &--purple {
    background-color: $clr-purple;
    border-color: $clr-purple-dim;
    box-shadow: 0.5px 0.5px 0 $clr-purple-dim;
  }

  &--scarlet {
    background-color: $clr-scarlet;
    border-color: $clr-scarlet-dim;
    box-shadow: 0.5px 0.5px 0 $clr-scarlet-dim;
  }

  &--yellow {
    background-color: $clr-yellow;
    border-color: $clr-yellow-dim;
    box-shadow: 0.5px 0.5px 0 $clr-yellow-dim;
  }

  &--peach {
    background-color: $clr-peach;
    border-color: $clr-peach-dim;
    box-shadow: 0.5px 0.5px 0 $clr-peach-dim;
  }

  &--active {
    color: $clr-light-xl;
    background-color: $clr-dark-xl;
  }

  &:active {
    background-color: $clr-grey;
  }
}
